md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float) {
	transform: translateY(-1px) scale(1) !important;
	color: $ts-green;
}

md-input-container .md-placeholder, md-input-container label:not(.md-no-float):not(.md-container-ignore){
  transform: translateY(33px);
	transition: transform .2s ease-out;
}

md-input-container input[disabled]{
	border-bottom: 1px solid !important;
  border-bottom-color: $ts-cc-grey !important;
}

.md-open-menu-container.md-active {
  top: 50px !important;
}

md-content{
	.md-button:focus{
		background: transparent !important;
	}
}

md-tabs .md-tab.md-active{
	color: $ts-green;
}
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: $ts-green;
    background-color: $ts-green;
}

md-content.mdtTable {
	thead, tbody tr {
		display:table;
		table-layout:fixed;/* even columns width , fix width of table too*/
	}

	thead{
		th{
			padding: 5px 10px !important;
			height: 35px !important;
			line-height: 35px !important;
			color: $ts-green;
			min-width: 11vw !important;
			max-width: 11vw !important;
			font-family: RobotoBold;
		}
	}

	tbody {
		display:block;
		min-height: 72px;
		max-height: 350px;
		overflow:auto;
		background: $white;
		td {
			padding: 5px 10px !important;
			height: 35px !important;
			min-width: 11vw !important;
			max-width: 11vw !important;
		}
	}
}
