#main-container {
	.avatar-circle {
		width: 38px;
		height: 38px;
		line-height: 38px;
		font-size: 16px;
		background: $white;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		border-radius: 50px;
		color: $secondary-color;
		text-align: center;
		box-sizing: border-box;
		&.darken{
			background: $ts-green;
			color: $white;
		}
	}

	.sub-content {
		.graph-content {
			.chart {
				> div{
					-webkit-box-shadow: 5px 0px 20px 0px rgba(238,238,238,1);
					-moz-box-shadow: 5px 0px 20px 0px rgba(238,238,238,1);
					box-shadow: 5px 0px 20px 0px rgba(238,238,238,1);
					border: 1px solid #CCC;
					height: 300px;
				}
				.chart-heading{
					padding: 10px;
					text-align: center;
					border-bottom: 1px solid $ts-grey;
					font-weight: bold;
				}

			}
		}
	}

	.left-container{
		height: calc(100vh - 54px);
		padding: 0;
		background-color: $ts-grey;
		width: 20%;
		float: left;
		ul.collection {
			border-right: 0 none;
			.collection-item.avatar{
				border: 0 none;
				background-color: $ts-grey;
				min-height: 50px;
				cursor: pointer;
				padding-left: 60px;
				color: $ts-text-color;
				font-size: 14px;
				&.active{
					background: $titan-white;
					color: $ts-green;
					.avatar-circle {
						background: $ts-green;
						color: $white;
					}
				}
			}
		}
		.list-search{
			.input-field{
			    label{
			    	left: 83%;
					top: -5px;
			    }
			    input[type='text']{
			    	width: 70%;
			    	height: 35px;
			    	margin: 0 0 10px 2vw;
			    	padding: 0 30px 0 10px;
			    	background: $white;
			    	border: 0 none;
			    	font-size: 13px;
			    	&:focus {
			    		border: 0 none !important;
  						-webkit-box-shadow: none;
						-moz-box-shadow: none;
						box-shadow: none;
			    	}
			    }
			}
		}
	}

	.right-container {
		position: relative;
		width: 80%;
		float: left;
		.chat-space{
			height: calc(100vh - 80px);
			width: 100%;
			padding-right: 5px;
			position: relative;
			overflow: hidden;
			.chat-text{
				height: calc(100vh - 150px);
				overflow-y: auto;
				width: 101%;
				#chat-date{
					width: 86%;
					margin: 10px 0 10px 85px;
					position: relative;
					border-bottom: 1px solid $ts-grey;
					span {
						height: 20px;
						width: auto;
						display: inline-block;
						padding: 0 10px;
						position: absolute;
						left: calc(50% - 75px);
						top: 0px;
						font-size: 12px;
						line-height: 20px;
						background-color: $titan-white;
						color: $ts-disabled-grey;
						border-radius: 3px;
					}
				}
			}
			#input_text{
				padding: 0;
				position: absolute;
				bottom: 20px;
				width: 85%;
				margin: 0 auto;
				left: 5.6vw;
				input{
					background-color: $white;
				    width: 100%;
				    padding: 3px 10px;
				    border: 0 none;
				    height: 40px;
				    font-size: 13px;
				    -webkit-box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
					-moz-box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
					box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
				    &:focus{
				    	border: 0 none !important;
  						-webkit-box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
						-moz-box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
						box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
				    }

				}
				.send-btn{
					position: absolute;
				    right: 0px;
				    top: 9px;
				}
			}
		}
		.easy-autocomplete {
			width: 100% !important;
			.easy-autocomplete-container {
				bottom: 28px;
			}
		}
	}

}

.user-db-popup {
	md-toolbar{
		min-height: 40px !important;
		cursor: move;
		.md-toolbar-tools{
			height: 40px;
			div.heading{
				font-size: 0.9rem;
				white-space: nowrap;;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
	.menu {
		position: absolute;
		top: 10px;
		right: 25px;
		cursor: pointer;
	}
	.user-db-popup-filter {

		md-input-container{
			margin: 5px 0 0 0 !important;
			width: 65%;
			input{
				margin: 0 !important;
			}
		}
	}
}

.typing-indicator {
  $ti-color-bg: #DCE9E6;
  background-color: $ti-color-bg;
  will-change: transform;
  width: auto;
  border-radius: 50px;
  padding: 10px;
  display: table;
  margin: 0 auto;
  position: absolute;
  bottom: 80px;
  left: 6.2vw;
  color: #067D75;
  //animation: 2s bulge infinite ease-out;
  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: -2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $ti-color-bg;
  }
  &::after {
    height: 10px;
    width: 10px;
    left: -10px;
    bottom: -10px;
  }
  span {
    height: 10px;
    width: 10px;
    float: left;
    margin: 4px 1px;
    background-color: #067D75;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        animation: 1s blink infinite ($i * .3333s);
      }
    }
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}

.chat {
    list-style: none;
    margin: 0;
    padding: 5px;
    li{
    	padding: 5px 65px;
		clear: both;
		width: 100%;
		i.small{
			font-size: 40px;
		}
    }
    .chat-bubble {
	    border-radius: 7px;
	    box-shadow: 0 2px 2px rgba(0,0,0,0.05);
	    padding: 5px 7px;
	    max-width: 100%;
	    position: relative;
	    .settings{
			position: absolute;
			right: 10px;
			top: 10px;
	    	i.material-icons {
	    		font-size: 20px;
	    		cursor: pointer;
	    	}
	    }
	    .content {
		    margin: 0;
		    font-size: 1em;
		    min-height: 15px;
		}
	    &.athena {
		    background: $white;
		    margin: 0px auto 10px 8px;
		    min-width: 25%;
		    max-width: 65%;
		    > .athena-mouth {
			    width: 0;
			    height: 0;
			    border-bottom: 10px solid $white;
			    border-left: 10px solid transparent;
			    position: absolute;
			    top: 10px;
			    left: -9px;
			}
			.content {
				padding: 2px 0 0 5px;
			}
		}

		&.me {
		    background: $ts-teal-green;
		    margin: 0px 8px 10px auto;
		    min-width: 25%;
		    max-width: 50%;
		    > .my-mouth {
			    width: 0;
			    height: 0;
			    border-bottom: 10px solid $ts-teal-green;
			    border-right: 10px solid transparent;
			    position: absolute;
			    top: 10px;
			    left: 100%;
			}
			.content {
				padding: 2px 0 0 0;
			}
		}

		.time {
		    color: #888;
		    font-size: 0.7em;
		    text-align: right;
		    float: right;
		    margin-left: 10px;
		    margin-top: 3px;
		}
	}
}

.footer-text{
	font-size: 10px;
	color: $ts-disabled-grey;
}

@media(max-width: 1350px){
	#main-container{
		.left-container {
	    	width: 23%;
	    }
	    .right-container {
	    	width: 77%;
	    }
	}
}

@media(max-width: 1200px){
	#main-container{
		.left-container {
	    	width: 26%;
	    }
	    .right-container {
	    	width: 74%;
	    }
	}
}

@media(max-width: 900px){
	#main-container{
		.left-container {
	    	width: 29%;
	    }
	    .right-container {
	    	width: 71%;
	    }
	}
}
