/* Helper classes */
$directions: top, right, bottom, left;
$values: 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50;

//Set all margin 0 with important
.remove-margin{
  margin: 0 !important;
}
//Set all padding 0 with important
.remove-padding{
  padding: 0 !important;
}

@each $k in $values{
  .margin-all-#{$k}{
    margin: #{$k}px !important;
  }
}

@each $l in $values{
  .padding-all-#{$l}{
    padding: #{$l}px !important;
  }
}

@each $i in $directions{
  @each $j in $values{
    .padding-#{$i}-#{$j}{
      padding-#{$i}: #{$j}px !important;
    }
  }
}

@each $i in $directions{
  @each $j in $values{
    .margin-#{$i}-#{$j}{
      margin-#{$i}: #{$j}px !important;
    }
  }
}

.pull-left{
  float: left;
}
.pull-right{
  float: right;
}