md-menu.layout-menu {
   span{
     width: auto;
     display: inline-block;
     cursor: pointer;
     font-size: 14px;
   }
   i {
     display: inline;
   }
}
.footer-copyright{
    .center{
        width: 79%;
    }
}

.navbar-fixed {
    height: 50px;
    nav {
        height: 50px;
        line-height: 50px !important;
        .nav-wrapper{
             background-color: $primary-color-dark;
            .header {
                font-size: 28px;
                font-family: "AgencyFBR";
                color: $ts-green;
                vertical-align: middle;
                span {
                    color: $white;
                    font-size: 20px;
                }
            }
            i.small{
                font-size: 35px;
            }
        }
    }
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 50px;
        line-height: 50px;
        vertical-align: middle;
    }

}


.ts-menu {
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  ul {
    background: $white;
    padding: 4px 0;
    border: 1px solid $ts-grey;
    position: absolute;
    right: 0;
    top: 17px;
    display: none;
    list-style: none;
    li {
      list-style: none;
      padding: 5px;
      min-width: 110px;
      cursor: pointer;
      &:hover {
        background: $ts-teal-green;
      }
      a {
        height: 30px;
        padding: 0 40px 0 10px;
        display: block;
        cursor: pointer;
        font-size: 14px;
        line-height: 30px;
        color: $ts-text-color;
        white-space: nowrap;
        &:hover {
          color: $white;
        }
      }
    }
  }
  &.dropdown-right ul {
    right: 0;
    left: auto;
  }
  &.dropdown-active ul {
    display: block;
  }
}
