/* Login Css*/
div[ui-view="login"]{
	background: $white;
}
.login-container{
	margin: 10vw auto 0 auto;
	width: 50vmin;
	.to-links{
		line-height: 45px;
		font-size: 13px;
	}
	button{
		background-color: $primary-color;
	}

	.layout-gt-sm-row {
		input {
			background-color: lighten($ts-light-grey, 3);
			height: 40px;
			padding-left: 5px;
			&:focus{
				border-color: $ts-teal-green !important;
			}
		}
		label{
			left: 5px;
		}
	}
}


.right-bg-img {
	.lbl-content{
		color: $white;
		font-size: 2.3vw;
		width: 80%;
		font-family: "RobotoLight";
		margin-left: 5vmin;
		position: absolute;
		margin-top: 5vmin;
	}
	& + footer{
		width: auto;
		background-color: $primary-color;
		height: 7vmin;
		line-height: 7vmin;
		color: $white;
		padding: 0 2vmin;
		font-size: 1.6vmin;
	}
}
