.logo{
	background-image: url("../images/imgLoginLogo.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 8vmin;
	width: 50vmin;
	display: inline-block;
	margin-left: -2px;
	margin-bottom: 30px;
}

.header-logo{
	background-image: url("../images/logo1.png");
	width: 45px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 150px 40px;
    background-position: 10px 6px;
}

.right-bg-img {
	position: relative;
	background-image: url("../images/LoginBg.svg");
	background-repeat: round;
	background-size: contain;
	height: 93vmin;
	width: auto;
}

.download-png{
  background: url("../images/download.png");
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  display: inline-block;
  cursor: pointer;
}
.share-png{
  background: url("../images/share.png");
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  display: inline-block;
  cursor: pointer;
}
