//Color Variables
$white: #FFFFFF;
$titan-white: #FAFAFA;
$pale-green: #f5fff5;
$primary-color: #00bcd4 !default;
$primary-color-light: #00bcd4 !default;
$primary-color-dark: #263942 !default;
$secondary-color: #596171 !default;
$success-color: green !default;
$error-color: red !default;
$link-color: #00bcd4 !default;
$grey-lighten: #fafafa;
$blue-violet: #596171;
$ts-light-grey: #EEEEEE;
$ts-grey: #E0E0E0;
$ts-green: #009688;
$ts-teal-green: #B9F6CA;
$ts-dark-grey: #888888;
$ts-disabled-grey: #9E9E9E;
$ts-text-color: #212121;
$ts-cc-grey: #CCCCCC;
