@import url( '../../../bower_components/angular-block-ui/dist/angular-block-ui.min.css' );
@import url( '../../../bower_components/EasyAutocomplete/dist/easy-autocomplete.min.css' );


@import 'thickstat-skin';
@import url('../../../bower_components/md-data-table/dist/md-data-table-style.css');
@import '../../../bower_components/materialize/sass/materialize';
// @import '../../../bower_components/materialize/sass/components/color';
// @import '../../../bower_components/materialize/sass/components/navbar';
@import url( '../../../bower_components/noty/lib/noty.css' );
@import url('../../../bower_components/animate.css/animate.min.css');
@import url('../../../bower_components/angular-material/angular-material.min.css');
//@import url('../../../bower_components/datatables.net-dt/css/jquery.dataTables.min.css');

@import 'core/mixins';

@import 'sprite';
@import 'helper-class';
@import 'login';
@import 'layout';
@import 'dashboard';
@import 'custom-material';

*{
  outline: 0;
}

html{
  width: 100%;
  line-height: 1.5;
}

@include font-face("RobotoReg", "../fonts/Roboto/Roboto-Regular", null, null, ttf);
@include font-face("RobotoLight", "../fonts/Roboto/Roboto-Light", null, null, ttf);
@include font-face("RobotoThin", "../fonts/Roboto/Roboto-Thin", null, null, ttf);
@include font-face("RobotoBold", "../fonts/Roboto/Roboto-Bold", bold, null, ttf);
@include font-face("RobotoMedium", "../fonts/Roboto/Roboto-Medium", null, null, ttf);
@include font-face("AgencyFBR", "../fonts/AGENCYR", null, null, ttf);

body{
  background-color: $titan-white;
  font-size: 13px;
  font-family: "RobotoReg";
  line-spacing: 0.5px;
  color: $ts-text-color;
  overflow: auto;
}

*::placeholder{
  color: $ts-disabled-grey;
  font-style: italic;
}


/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/materializeFonts.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.md-block div.error {
    position: absolute;
    top: 45px;
    right: 0px;
    font-size: 0.7rem;
    color: rgb(221,44,0);
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

a.to-links {
  cursor : pointer;
  &:hover {
    text-decoration: underline;
  }
}

.row{
  margin-bottom: 0;
}

.modal {
  max-height: 92% !important;
  width: 65% !important;
}

.block-ui-overlay{
  opacity: 0.15;
}
