<section>
    <div layout="row">
        <div flex="50">
            <div class="login-container">
                <div class="logo-box">
                    <i class="ts-image logo"></i>
                </div>
                <form validate-form="login(loginForm)" validation-rules="validationRules" name="loginForm" class="form-horizontal" autocomplete="off" novalidate>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label for="email">Email</label>
                            <input type="email" name="email" ng-disabled="loginPressed" ng-model="email" required/>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label for="password">Password</label>
                            <input type="password" ng-disabled="loginPressed" ng-model="pass" name="password" required/>
                        </md-input-container>
                    </div>
                    <div class="margin-top-10">
                        <a ng-href="" class="to-links blue-text pull-left">Forgot Password?</a>
                        <md-button type="submit" name="go" ng-disabled="loginPressed" class="btn blue lighten-2 pull-right">Login</md-button>
                        <!-- <button type="submit" name="go" ng-disabled="loginPressed" class="waves-effect waves-light blue lighten-2 btn pull-right">Login</button> -->
                    </div>
                </form>
            </div>
        </div>
        <div flex="50">
            <div class="right-bg-img">
                <span class="lbl-content">Ask questions in simple human language to gain quick and easy business insights.</span>
            </div>
            <footer>
                Copyright &copy; 2018 Thickstat INC.
            </footer>
        </div>
    </div>
</section>