<!-- Dropdown Structure -->
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a ui-sref="dashboard">
                <!-- <img class="margin-left-10 margin-top-10 left" src="resources/images/logo1.png" width="120" /> -->
                <i class="header-logo"></i>
                <span class="header">ATHENA
                    <span> &nbsp; {{ selectedDataset.datasetName }}</span>
                </span>
            </a>

            <md-menu class="right layout-menu" md-position-mode="target-right target">
                <span ng-click="$mdMenu.open()" class="user-menu">
                    <a ng-href="">
                  <i class="material-icons margin-right-5 small">account_circle</i> {{loggedUserName}}
                  <i class="material-icons">arrow_drop_down</i>
                </a>
                </span>
                <md-menu-content width="2" ng-mouseleave="$mdMenu.close()" class="padding-all-0">
                    <md-menu-item>
                        <md-button ui-sref="login" ng-click="logout()" md-menu-align-target>
                            Logout
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

        </div>
    </nav>
</div>

<section>
    <div id="ts-content">
        <ui-view> </ui-view>
    </div>
</section>

<!-- <footer class="page-footer blue-grey darken-3 remove-padding">
    <div class="footer-copyright">
        <span class="padding-left-15">
            Release 1.1.0
        </span>
        <span class="center">
            ATHENA – “Ask business questions in simple human language and gain instant insights across your systems”
        </span>
        <span class="right-align">
            Copyright © 2018 ThickStat INC.
        </span>
    </div>
</footer> -->