<div id="main-container" class="row">
    <div class="left-container">
        <div class="list-search">
            <div class="input-field">
                <input type="text" name="search" ng-model="query" placeholder="Search by domain name" />
                <label class="label-icon" for="search">
                    <i class="material-icons" ng-show="!query">search</i>
                    <i class="material-icons" ng-show="query" ng-click="query = '';">close</i>
                </label>
            </div>
        </div>
        <div class="data-set-list">
            <ul class="collection">
                <li class="collection-item avatar" ng-repeat="dataset in datasets | orderBy: 'datasetName' | filter:query" ng-class="{'active': dataset.datasetName === selectedDataset.datasetName}" ng-click="onClickDataset(dataset)">
                    <span class="avatar-circle circle">{{dataset.domainName.charAt(0).toUpperCase()}}</span>
                    <div>{{dataset.datasetName}}</div>
                    <small>{{dataset.domainName}}</small>
                </li>
            </ul>
        </div>
    </div>
    <div class="right-container">
        <div class="chat-window">
            <div class="chat-space">
                <div class="chat-text" exec-on-scroll-to-top="handleScrollToTop">
                    <ul class="chat" id="chatRoom">
                        <!-- All chat messages will append here -->
                    </ul>
                </div>
                <div class="typing-indicator" ng-if="typingIndicator">
                    <span></span>
                    <span></span>
                    <span></span>
                    &nbsp;Athena is Typing...
                </div>
                <div id="input_text" class="input-field col s12">
                    <input type="text" class="remove-margin" autofocus id="mesgBox" placeholder="Type your question here">
                    <a ng-href="" class="send-btn to-links" ng-click="sendMsg()"><i class="material-icons teal-text">send</i></a>
                </div>
            </div>
            <div class="footer-text center">
                Release 1.1.0 Copyright © 2018 ThickStat INC.
            </div>
        </div>
    </div>
</div>