<md-dialog aria-label="Detailed View" class="user-db-popup" draggable>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools teal">
                <div class="heading">
                    <md-tooltip md-direction="bottom">
                        <b>Question: </b> {{ title }}
                    </md-tooltip>
                    {{ title | uppercase }}
                </div>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-set="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-height: 68vh;">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="chart">
                    <md-content class="md-padding">
                        <div class="settings menu">
                            <span class="ts-menu">
                                <i class="material-icons grey-text">file_download</i>
                                <span>
                                    <ul>
                                        <li pdf-download-button pdf-name="'Thickstat-Recommendations.pdf'" pdf-element-id="'element-to-download-{{chartId}}'" creating-pdf-class-name="'generating'">Export to PDF</li>
                                    </ul>
                                </span>
                            </span>
                        </div>
                        <div id="chart-view" style="width:63vw; height: auto;">

                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="table">
                    <md-content class="md-padding">
                        <div class="padding-all-5 user-db-popup-filter">
                            <div class="settings menu">
                                <span class="ts-menu">
                                    <i class="material-icons grey-text">file_download</i>
                                    <span>
                                        <ul>
                                            <li ng-click="exportTable()">Export to CSV</li>
                                        </ul>
                                    </span>
                                </span>
                            </div>
                            <md-input-container>
                                <label>Filter by search</label>
                                <input type="text" ng-model="filterName" autocomplete="off" novalidate>
                            </md-input-container>

                            <div ng-hide="true">
                                {{(mdRow.data = (tableData | filter: filterName))}}
                            </div>
                            <mdt-table animate-sort-icon="true" paginated-rows="{isEnabled: false, rowsPerPageValues: [5,10,20]}" mdt-row="mdRow">
                                <mdt-header-row>
                                    <mdt-column column-sort="true" ng-repeat="(key, val) in mdColumns" align-rule="{{val}}" column-definition>{{ key | uppercase }}</mdt-column>
                                </mdt-header-row>
                            </mdt-table>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>

        <!-- <md-dialog-actions layout="row">
            <md-button ng-click="cancel()" class="btn teal pull-right">OK</md-button>
        </md-dialog-actions> -->
    </form>
</md-dialog>